@use '../../styles/variables' as *;

.toolbar {
  margin-bottom: 0;
}

.count {
  margin-top: 12px;
  margin-bottom: 24px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $gray;
  line-height: 15px;
}

.status {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: $gray;
}

.grid {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  border-top: 0.5px solid $black;
  border-left: 0.5px solid $black;
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
